<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">-->
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Updating user</title>
    </head>
    <body>
        <form  th:method="PUT" th:action="@{/admin/updated_user}" th:object="${user}">
            <input type="hidden" th:field="*{id}" id="id" value="*{id}">
            <input type="text" th:field="*{name}" id="name">
            <label for="name">Name</label>
            <br><br>
            <input type="text" th:field="*{lastName}" id="lastName">
            <label for="lastName">Last name</label>
            <br><br>
            <input type="text" th:field="*{post}" id="post">
            <label for="post">Post</label>
            <br><br>
            <input type="text" th:field="*{username}" id="username">
            <label for="username">Username</label>
            <br><br>
            <input type="text" th:field="*{password}" id="password">
            <label for="password">Password</label>
            <br>
            <p>Current roles: <span th:utext="${user.getRolesAsString()}"></span></p>
            <br>
<!--            <input type="checkbox" name="checkBox" value="ROLE_USER">User</input><br>-->
<!--            <input type="checkbox" name="checkBox" value="ROLE_ADMIN">Admin</input>-->

            <label for="roles">Set roles</label>
            <select id="roles" th:field="*{roles}" size="2" multiple="multiple">
                <option th:each="role : ${roles}"
                        th:value="${role.getId()}"
                        th:text="${role.role}"></option>
            </select>

<!--            <tr th:each="role : ${listRoles}">-->
<!--                <td th:text="${role}"></td>-->
            <br><br>

            <input type="submit" value="Edit user">
        </form>
        <p>
        <form  th:action="@{/admin/give_me_them_all}">
            <button>To all users</button>
        </form>
        <a href="/logout">Logout</a>
        </p>
    </body>
</html>
