<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <h3>Add new post</h3>
                <form class="add-post-form">
                    <div class="form-group">
                        <label for="title-value">Title</label>
                        <input type="text" class="form-control" id="title-value">
                    </div>
                    <div class="form-group">
                        <label for="body-value">Content</label>
                        <textarea class="form-control" id="body-value"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Post</button>
                </form>
            </div>
        </div>

        <div class="posts-list row">
<!--            <div class="card mt-4 col-md-6 bg-light">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Card title</h5>-->
<!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                    <a href="#" class="card-link">Edit</a>-->
<!--                    <a href="#" class="card-link">Delete</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>

    </div>



    <script src="/testjs.js"></script>
</body>
</html>